<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BlobStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=powerbiembdeddedrgguestd;AccountKey=Zq20EqnJ31aBBQrCgYoi721rw9cdi0fP5GWH2JBx0qeoS86FFJOnZQt8crccmqLDqMCddS37ZPfmeqVYwkbMKA==;EndpointSuffix=core.windows.net" />
  </connectionStrings>
  <appSettings>
    <add key="source" value="C:\Temp" />
    <add key="dest" value="powerbiembdeddedrgguestd" />
  </appSettings>
</configuration>